* {
    margin: 0;
    padding: 0;
}

.cuerpo-home {
    font-family: "Poppins", serif;
    background-color: #F2F8F4;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.cuerpo-home img {
    display: flex;
    width: 480px;
    height: 350px;
    border-radius: 40px;
    object-fit: cover;
}


.Logo {
    width: 100px;
    height: 100px;
}

.NavBar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;
}

.Lista {
    /* gap: 2rem; */
    display: flex;
    list-style: none;
    font-size: 20px;
    flex-wrap: wrap;
}

.Lista li {
    padding: 2rem;
    cursor: pointer;
}

.Lista a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

.Hero {
    height: 500px;
    flex-wrap: wrap;
    display: flex;
    width: 60%;
    font-size: 25px;
    padding: 100px;
    justify-content: center;
}

.Hero button {

    width: 200px;
    height: 60px;
    border-radius: 20px;
    border: none;
    font-size: 20px;
    background-color: #FCC539;
    color: white;
    cursor: pointer;
    margin: 10px
}

